In [1]:
import os

In [2]:
dir_name = 'articles'

In [114]:
n_articles = len(os.listdir(dir_name))

In [115]:
d={}
pi = {}

for f in os.listdir(dir_name):
    file = open(os.path.join(dir_name,f), encoding='utf-8')
    text = file.read()
#     text = text.replace("")
    text = text.lower().split()  
    first_word = text[0]
    if first_word in pi:
        pi[first_word]+=1
    else:
        pi[first_word] = 1
        
    for i in range(len(text)-1):    
        pair = (text[i],text[i+1])
        if pair in d:
            d[pair]+=1
        else:
            d[pair]=1

In [116]:
words = [pair[0] for pair in d]

counter = {}

In [117]:
# words

In [118]:
new_tuples = []

In [119]:
for i in words:
    if i in counter:
        counter[i]+=1
    else:
        counter[i]=1

In [120]:
unique_words = list(set(words))

In [121]:
tuples = [(counter[i],i) for i in unique_words]

In [122]:
start = 190
end = 210

In [123]:
tuples.sort()

In [124]:
words = [i for i in tuples if (i[0]>start and i[0]<end)]

In [125]:
words = [i[1] for i in words]

In [126]:
words = ['lord','tywin','the','great','hound','horse','lannister','queen','king']

In [127]:
d_ = {}
for i in words:
    for j in words:
        try:
            d_[i,j] = 1 + d[i,j]
        except:
            d_[i,j] = 1

In [128]:
# d_

In [129]:
# t = [[d[i],i] for i in d]

In [130]:
# t.sort()

In [131]:
# t[-300:]

In [132]:
counter = {}
for i in d_:
    k = i[0]
    if k in counter:
        counter[k]+=d_[i]
    else:
        counter[k]=d_[i]

In [133]:
[d_[i] for i  in d_ if i[0]=='lord']

[1, 303, 1, 2, 1, 1, 1, 1, 1]

In [134]:
counter['lord']

312

In [135]:
for i in d_:
    print (i)
    print (counter[i[0]])
    print (d_[i])
    d_[i]=d_[i]/counter[i[0]]
    d_[i] = round(d_[i],2)

('lord', 'lord')
312
1
('lord', 'tywin')
312
303
('lord', 'the')
312
1
('lord', 'great')
312
2
('lord', 'hound')
312
1
('lord', 'horse')
312
1
('lord', 'lannister')
312
1
('lord', 'queen')
312
1
('lord', 'king')
312
1
('tywin', 'lord')
62
1
('tywin', 'tywin')
62
1
('tywin', 'the')
62
3
('tywin', 'great')
62
1
('tywin', 'hound')
62
1
('tywin', 'horse')
62
1
('tywin', 'lannister')
62
52
('tywin', 'queen')
62
1
('tywin', 'king')
62
1
('the', 'lord')
1702
319
('the', 'tywin')
1702
1
('the', 'the')
1702
1
('the', 'great')
1702
325
('the', 'hound')
1702
191
('the', 'horse')
1702
73
('the', 'lannister')
1702
39
('the', 'queen')
1702
251
('the', 'king')
1702
502
('great', 'lord')
17
7
('great', 'tywin')
17
1
('great', 'the')
17
2
('great', 'great')
17
1
('great', 'hound')
17
1
('great', 'horse')
17
1
('great', 'lannister')
17
1
('great', 'queen')
17
1
('great', 'king')
17
2
('hound', 'lord')
10
1
('hound', 'tywin')
10
1
('hound', 'the')
10
2
('hound', 'great')
10
1
('hound', 'hound')
10
1
('hound', 'horse')
10
1
('hound', 'lannister')
10
1
('hound', 'queen')
10
1
('hound', 'king')
10
1
('horse', 'lord')
12
2
('horse', 'tywin')
12
1
('horse', 'the')
12
3
('horse', 'great')
12
1
('horse', 'hound')
12
1
('horse', 'horse')
12
1
('horse', 'lannister')
12
1
('horse', 'queen')
12
1
('horse', 'king')
12
1
('lannister', 'lord')
14
2
('lannister', 'tywin')
14
1
('lannister', 'the')
14
4
('lannister', 'great')
14
1
('lannister', 'hound')
14
1
('lannister', 'horse')
14
1
('lannister', 'lannister')
14
1
('lannister', 'queen')
14
2
('lannister', 'king')
14
1
('queen', 'lord')
9
1
('queen', 'tywin')
9
1
('queen', 'the')
9
1
('queen', 'great')
9
1
('queen', 'hound')
9
1
('queen', 'horse')
9
1
('queen', 'lannister')
9
1
('queen', 'queen')
9
1
('queen', 'king')
9
1
('king', 'lord')
12
1
('king', 'tywin')
12
1
('king', 'the')
12
4
('king', 'great')
12
1
('king', 'hound')
12
1
('king', 'horse')
12
1
('king', 'lannister')
12
1
('king', 'queen')
12
1
('king', 'king')
12
1

In [136]:
d_

{('lord', 'lord'): 0.0,
 ('lord', 'tywin'): 0.97,
 ('lord', 'the'): 0.0,
 ('lord', 'great'): 0.01,
 ('lord', 'hound'): 0.0,
 ('lord', 'horse'): 0.0,
 ('lord', 'lannister'): 0.0,
 ('lord', 'queen'): 0.0,
 ('lord', 'king'): 0.0,
 ('tywin', 'lord'): 0.02,
 ('tywin', 'tywin'): 0.02,
 ('tywin', 'the'): 0.05,
 ('tywin', 'great'): 0.02,
 ('tywin', 'hound'): 0.02,
 ('tywin', 'horse'): 0.02,
 ('tywin', 'lannister'): 0.84,
 ('tywin', 'queen'): 0.02,
 ('tywin', 'king'): 0.02,
 ('the', 'lord'): 0.19,
 ('the', 'tywin'): 0.0,
 ('the', 'the'): 0.0,
 ('the', 'great'): 0.19,
 ('the', 'hound'): 0.11,
 ('the', 'horse'): 0.04,
 ('the', 'lannister'): 0.02,
 ('the', 'queen'): 0.15,
 ('the', 'king'): 0.29,
 ('great', 'lord'): 0.41,
 ('great', 'tywin'): 0.06,
 ('great', 'the'): 0.12,
 ('great', 'great'): 0.06,
 ('great', 'hound'): 0.06,
 ('great', 'horse'): 0.06,
 ('great', 'lannister'): 0.06,
 ('great', 'queen'): 0.06,
 ('great', 'king'): 0.12,
 ('hound', 'lord'): 0.1,
 ('hound', 'tywin'): 0.1,
 ('hound', 'the'): 0.2,
 ('hound', 'great'): 0.1,
 ('hound', 'hound'): 0.1,
 ('hound', 'horse'): 0.1,
 ('hound', 'lannister'): 0.1,
 ('hound', 'queen'): 0.1,
 ('hound', 'king'): 0.1,
 ('horse', 'lord'): 0.17,
 ('horse', 'tywin'): 0.08,
 ('horse', 'the'): 0.25,
 ('horse', 'great'): 0.08,
 ('horse', 'hound'): 0.08,
 ('horse', 'horse'): 0.08,
 ('horse', 'lannister'): 0.08,
 ('horse', 'queen'): 0.08,
 ('horse', 'king'): 0.08,
 ('lannister', 'lord'): 0.14,
 ('lannister', 'tywin'): 0.07,
 ('lannister', 'the'): 0.29,
 ('lannister', 'great'): 0.07,
 ('lannister', 'hound'): 0.07,
 ('lannister', 'horse'): 0.07,
 ('lannister', 'lannister'): 0.07,
 ('lannister', 'queen'): 0.14,
 ('lannister', 'king'): 0.07,
 ('queen', 'lord'): 0.11,
 ('queen', 'tywin'): 0.11,
 ('queen', 'the'): 0.11,
 ('queen', 'great'): 0.11,
 ('queen', 'hound'): 0.11,
 ('queen', 'horse'): 0.11,
 ('queen', 'lannister'): 0.11,
 ('queen', 'queen'): 0.11,
 ('queen', 'king'): 0.11,
 ('king', 'lord'): 0.08,
 ('king', 'tywin'): 0.08,
 ('king', 'the'): 0.33,
 ('king', 'great'): 0.08,
 ('king', 'hound'): 0.08,
 ('king', 'horse'): 0.08,
 ('king', 'lannister'): 0.08,
 ('king', 'queen'): 0.08,
 ('king', 'king'): 0.08}

In [137]:
# for i in d_:
#     if d_[i]!=0:
#         print (d_[i])

In [138]:
words = [i[0] for i in d_]

In [139]:
unique_words = list(set(words))

In [140]:
d = d_
d_ = {}
for w in unique_words:
    second_words = list(set([i[1] for i in d if i[0]==w]))
    d__ = {}
    for i in second_words:
        d__[i] = d[w,i]
    d_[w] = d__
#     print (w,second_words)

In [141]:
import numpy as np

In [142]:
d_

{'lannister': {'lannister': 0.07,
  'the': 0.29,
  'lord': 0.14,
  'queen': 0.14,
  'great': 0.07,
  'hound': 0.07,
  'tywin': 0.07,
  'horse': 0.07,
  'king': 0.07},
 'the': {'lannister': 0.02,
  'the': 0.0,
  'lord': 0.19,
  'queen': 0.15,
  'great': 0.19,
  'hound': 0.11,
  'tywin': 0.0,
  'horse': 0.04,
  'king': 0.29},
 'lord': {'lannister': 0.0,
  'the': 0.0,
  'lord': 0.0,
  'queen': 0.0,
  'great': 0.01,
  'hound': 0.0,
  'tywin': 0.97,
  'horse': 0.0,
  'king': 0.0},
 'queen': {'lannister': 0.11,
  'the': 0.11,
  'lord': 0.11,
  'queen': 0.11,
  'great': 0.11,
  'hound': 0.11,
  'tywin': 0.11,
  'horse': 0.11,
  'king': 0.11},
 'great': {'lannister': 0.06,
  'the': 0.12,
  'lord': 0.41,
  'queen': 0.06,
  'great': 0.06,
  'hound': 0.06,
  'tywin': 0.06,
  'horse': 0.06,
  'king': 0.12},
 'hound': {'lannister': 0.1,
  'the': 0.2,
  'lord': 0.1,
  'queen': 0.1,
  'great': 0.1,
  'hound': 0.1,
  'tywin': 0.1,
  'horse': 0.1,
  'king': 0.1},
 'tywin': {'lannister': 0.84,
  'the': 0.05,
  'lord': 0.02,
  'queen': 0.02,
  'great': 0.02,
  'hound': 0.02,
  'tywin': 0.02,
  'horse': 0.02,
  'king': 0.02},
 'horse': {'lannister': 0.08,
  'the': 0.25,
  'lord': 0.17,
  'queen': 0.08,
  'great': 0.08,
  'hound': 0.08,
  'tywin': 0.08,
  'horse': 0.08,
  'king': 0.08},
 'king': {'lannister': 0.08,
  'the': 0.33,
  'lord': 0.08,
  'queen': 0.08,
  'great': 0.08,
  'hound': 0.08,
  'tywin': 0.08,
  'horse': 0.08,
  'king': 0.08}}

In [143]:
np.sum(d_['Grand'].values())

KeyError: 'Grand'

In [144]:
import json

In [145]:
dist = json.dumps(d_)

In [146]:
f = open("trans_mat.json",'w')
f.write(dist)
f.close()

In [150]:
d_['lord']

{'lannister': 0.0,
 'the': 0.0,
 'lord': 0.0,
 'queen': 0.0,
 'great': 0.01,
 'hound': 0.0,
 'tywin': 0.97,
 'horse': 0.0,
 'king': 0.0}

In [151]:
pi = {}
for i in words:
    pi[i] = round(1.0/len(words),2)

In [152]:
pi

{'lord': 0.01,
 'tywin': 0.01,
 'the': 0.01,
 'great': 0.01,
 'hound': 0.01,
 'horse': 0.01,
 'lannister': 0.01,
 'queen': 0.01,
 'king': 0.01}

In [153]:
f = open("pi.json",'w')
f.write(dist)
f.close()